p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 900;
  color: rgba(46, 47, 66, 1);
}
button {
  margin-left: 20px;
  cursor: pointer;
  background-color: #fcf1e0;
  border-radius: 14px;
  border: 1px;
  padding: 10px 20px 10px 20px;
  font-size: large;
}
button:hover {
  background-color: #ecd979;
}
.widget {
  display: flex;
  justify-content: center;
}
